@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600&display=swap');

@import '_setting.scss';

body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-size:14px;
  line-height: 1.3em;
}

.trello-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  .icon {
    font-size: 14px;
    margin-right: 3px;
  }

}

